body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main{
    display: flex;
    flex-direction: column;
    width: 90vw;
    max-width: 600px;
    align-items: center;
}

.container-1{
    width: 90vw;
    max-width: 600px;
    align-items: center;
}
section{
    max-width: 80vw;    
}

form{
    max-width: 500px;
    width: 80vw;
}

.form-control, .input-group-text {
    font-size: 14px;
}

.btn{
    max-width: fit-content;
    align-self: center;
}